.nav {
   background: #3b5998;
   &-item {
      @include newButton;
      color: #000;
      font-size: 0.8rem;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);

      .fa {
         margin-right: 10px;
         font-size: 1rem;
      }
      &.selected {
         background: #243c6d;
         color: #fff;
         text-shadow: none;
      }
   }
}
